@font-face {
  font-family: "iconfont"; /* Project id 4218424 */
  src: url('iconfont.woff2?t=1693485739071') format('woff2'),
       url('iconfont.woff?t=1693485739071') format('woff'),
       url('iconfont.ttf?t=1693485739071') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ums-role:before {
  content: "\e600";
}

.icon-bijijilu:before {
  content: "\e6f3";
}

.icon-code:before {
  content: "\e69d";
}

.icon-history:before {
  content: "\e629";
}

.icon-list:before {
  content: "\e631";
}

.icon-setting:before {
  content: "\e6aa";
}

.icon-setting1:before {
  content: "\e6ec";
}

.icon-home:before {
  content: "\e6f9";
}

.icon-shengchanrizhiguanli:before {
  content: "\e9e9";
}

