<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsiv.springboot.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.gsiv.springboot.entity.base.Menu">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
            <result property="routePath" column="route_path" jdbcType="VARCHAR"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
            <result property="menuType" column="menu_type" jdbcType="CHAR"/>
            <result property="visible" column="visible" jdbcType="CHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="perms" column="perms" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,menu_name,route_path,
        component,parent_id,order_num,
        menu_type,visible,status,
        perms,icon,create_by,
        create_time,update_by,update_time,
        del_flag,remark
    </sql>

    <select id="selectMenuIdByUserId" resultType="java.lang.Long">
        SELECT
            DISTINCT m.`id`
        FROM
            T_USER_ROLE AS ur
                LEFT JOIN `T_ROLE` AS r ON ur.`role_id` = r.`id`
                LEFT JOIN `T_ROLE_MENU` AS rm ON ur.`role_id` = rm.`role_id`
                LEFT JOIN `T_MENU` AS m ON m.`id` = rm.`menu_id`
        WHERE
          user_id = #{id}
          AND r.`status` = 0
          AND m.`status` = 0
    </select>

    <select id="selectPermsByUserId" resultType="java.lang.String">
        SELECT
            DISTINCT m.`perms`
        FROM
            T_USER_ROLE ur
                LEFT JOIN `T_ROLE` AS r ON ur.`role_id` = r.`id`
                LEFT JOIN `T_ROLE_MENU` AS rm ON ur.`role_id` = rm.`role_id`
                LEFT JOIN `T_MENU` AS m ON m.`id` = rm.`menu_id`
        WHERE
            user_id = #{userid}
          AND r.`status` = 0
          AND m.`status` = 0
    </select>

</mapper>
